<%	provide(:title, "Contact")  %>
<!DOCTYPE html>
<h1 style="color: black;font-weight: bold;">
  Contact
</h1>
<table>
    <tr>
      <th width="200" height="20"></th>
      <th width="200" height="20"></th>
    </tr>
    <tr>
      <td>
        <h3 style="color: blue;"> +91-292389991</h3>
      </td>
      <td>
        <h3 style="color: blue;"> +91-292389991</h3>
      </td>
    </tr>
</table>